header {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    margin-left: 30px;
}